apiVersion: v1
kind: Service 
metadata: 
  name: {{ .Release.Name }}-service
  labels: 
    app: {{ .Values.appLabel }}
spec: 
  type: {{ .Values.service.type }}
  selector: 
    app: {{ .Values.appLabel }}
  ports: 
     - port: {{ .Values.service.port }}
       targetPort: {{ .Values.containerPort }}
